body{
    margin: 0%;
}

.MuiContainer-root{
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media(max-width: 768px){
    padding-left: 16px;
    padding-right: 16px;
    }

    ul{
        a{
            text-decoration: none;
            color: unset;
            &:active, &:focus, &:hover{
                text-decoration: none;
                color: unset;
            }
        }
    }
   
}

.makeStyles-cardPricing-132{
    margin-bottom: 5px !important;
}